@model IEnumerable<CinemaWorld.Web.ViewModels.News.NewsViewModel>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .ListView<CinemaWorld.Web.ViewModels.News.NewsViewModel>()
    .Name("news")
    .TagName("div")
    .ClientTemplateId("news-template")
                    .Pageable(p => { p.Numeric(true); p.PreviousNext(false); })
    .DataSource(data =>
    {
        data.Read("GetNews", "News");
        data.ServerOperation(true);
        data.PageSize(3);
    }))

@section scripts{
    <script id="news-template" type="text/x-kendo-template">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    ${Content}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">${kendo.toString(CreatedOn, "g")}</div>
            </div>
            <hr class="col-md-6" />
        </div>
    </script>
}