@model Dictionary<string, IGrouping<string, CinemaWorld.Web.ViewModels.Program.ProjectionViewModel>>
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
</h2>

@using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
    }, new { id = "searchForm" }))
{

    @(Html.Kendo()
    .Calendar()
    .Name("date")
    .Min(DateTime.Now)
    .HtmlAttributes(new { name = "date" })
    .Events(ev =>
    {
        ev.Change("selectDate");
    }))
    
    @Html.Hidden("date", string.Empty, new { id = "hidden-date"})
}

@section scripts{

    <script>
        function selectDate() {
            var chosenDate = kendo.toString(this.value(), 'd');
            $("#hidden-date").val(chosenDate);
            $("#searchForm").submit();
        }
    </script>
}
<br />
<br />
<div id="results" class="container">
    @Html.Partial("_ProgramResult", Model)
</div>